<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.recargo.recargosandbox">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".RecargoSandboxApp">

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Google API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBK1oMiHBB4VNMU1G--kpnwKqhf7e_E2Vc"/>

        <!-- The version of Google Play Services that the app was compiled with -->1
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
</manifest>
